/*Navigation bar*/
.navbar{
    position: absolute;
    width: 1440px;
    height: 80px;
    left: 0px;
    top: 0px;

    background: transparent;
}

.nav-link , .navbar-brand{
	color: #282863;
	cursor: pointer;
}

.navbar-link{
    float: left;
    display: block;
    color: transparent;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.navbar-link :hover{
    background-color: transparent;
    color:#282863
}

.navbar-collapse{
    justify-content: flex-end;
}

.navbar-toggler{
    background:transparent !important;
}


/*Header*/
.overlay{
    position: absolute;
    width: 1276.67px;
    height: 868.3px;
    left: 33px;
    top: 101px;
}

.description{
    position: absolute;
    width: 1440px;
    height: 868px;
    left: 0px;
    top: 80px;
}

.description h1{
    position: absolute;
    width: 763px;
    height: 168px;
    left: 188px;
    top: 200px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    
    color: #282863;
    
}
.description p{
    position: absolute;
    width: 404px;
    height: 80px;
    left: 188px;
    top: 350px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;

    color: rgba(28, 28, 40, 0.54);

}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 1350px;
    height: 22px;
    left: 150px;
    top: 745px;
}

.column1{
    position: static;
    width: 63px;
    height: 20px;
    left: 0px;
    top: 1px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 48px;
}
.column2{
    position: static;
    width: 63px;
    height: 20px;
    left: 00px;
    top: 3px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 5px;
}

.column3{
    position: static;
    width: 63px;
    height: 20px;
    left: 227px;
    top: 3px;

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 40px;
}

.column4{
    position: static;
    width: 63px;
    height: 20px;
    left: 363px;
    top: 3px;

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 40px;
}

.column5{
    position: static;
    width: 65px;
    height: 20px;
    left: 475px;
    top: 3px;

    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 0px 40px;
}

.column6{
    position: static;
    width: 84px;
    height: 20px;
    left: 588px;
    top: 3px;

    flex: none;
    order: 5;
    flex-grow: 0;
    margin: 0px 40px;
}

.column7{
    position: static;
    width: 97px;
    height: 20px;
    left: 720px;
    top: 3px;

    flex: none;
    order: 6;
    flex-grow: 0;
    margin: 0px 40px;
}

.column8{
    position: static;
    width: 63px;
    height: 20px;
    left: 865px;
    top: 3px;

    flex: none;
    order: 7;
    flex-grow: 0;
    margin: 0px 40px;
}

.column9{
    position: static;
    width: 63px;
    height: 20px;
    left: 976px;
    top: 3px;

    flex: none;
    order: 8;
    flex-grow: 0;
    margin: 0
    px 40px;
}

/*Who*/
.who h1{
    position: absolute;
    width: 410px;
    height: 44px;
    left: 950px;
    top: 1023px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    
    color: #282863;
    
    transform: rotate(0.14deg);
    
}

.who h2{
    position: static;
    width: 349px;
    height: 64px;
    left: 32.6px;
    top: 113.06px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;

    color: rgba(35, 35, 71, 0.87);

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 32px 0px;
}

.w-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;

    position: absolute;
    width: 846.59px;
    height: 809.35px;
    left: 520px;
    top: 1103px;
}

.w-container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;

    position: static;
    width: 410px;
    height: 345.08px;
    left: 514px;
    top: 0px;

    background: #FFFFFF;

    box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
    border-radius: 16px;
    transform: matrix(1, 0, 0, 1, 0, 0);

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 19px 0px;
}

.w-containerX2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 846.59px;
    height: 444.14px;
    left: 0px;
    top: 365.21px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 19px 0px;
}

.w-container2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    
    position: static;
    width: 410px;
    height: 443px;
    left: 520px;
    top: 0px;
    
    background: #FFFFFF;
    border: 1px solid #0048BE;
    box-sizing: border-box;
    
    box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.04), 0px 16px 24px rgba(96, 97, 112, 0.16);
    border-radius: 16px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 19px;
}

.w-container3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;

    position: static;
    width: 410px;
    height: 443px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;

    box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
    border-radius: 16px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 19px;
}


.who p{
    position: static;
    width: 349px;
    height: 182px;
    left: 32.63px;
    top: 177.17px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;

    color: rgba(28, 28, 40, 0.87);

    transform: rotate(0.14deg);

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 32px 0px;
}

/*Philosophy*/
.philo h2{
    position: absolute;
    width: 160px;
    height: 16px;
    left: 80px;
    top: 2200px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;

    text-transform: uppercase;

    color: rgba(28, 28, 40, 0.54);
}

.philo h3{
    position: absolute;
    width: 351px;
    height: 88px;
    left: 80px;
    top: 2220px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;


    color: #282863;

}

.philo h4{
    position: static;
    width: 243px;
    height: 64px;
    left: 32px;
    top: 106px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;

    color: rgba(35, 35, 71, 0.87);
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 32px 0px;
}

.ph-container1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;

    position: absolute;
    width: 307px;
    height: 312px;
    left: 80px;
    top: 2330px;

    background: #FFFFFF;

    box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
    border-radius: 16px;
}

.ph-container2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;

    position: absolute;
    width: 307px;
    height: 332px;
    left: 405px;
    top: 2550px;

    background: #FFFFFF;
    border: 1px solid #0048BE;
    box-sizing: border-box;

    box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.04), 0px 16px 24px rgba(96, 97, 112, 0.16);
    border-radius: 16px;
}

.ph-container3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;

    position: absolute;
    width: 307px;
    height: 390px;
    left: 80px;
    top: 2730px;

    background: #FFFFFF;

    box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
    border-radius: 16px;
}

.ph-container4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    
    position: absolute;
    width: 307px;
    height: 390px;
    left: 405px;
    top: 3000px;
    
    background: #FFFFFF;
    
    box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
    border-radius: 16px;
}

.philo p{
    position: static;
    width: 243px;
    height: 78px;
    left: 32px;
    top: 202px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;

    color: rgba(28, 28, 40, 0.87);

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 32px 0px;
}


/*Value*/
.value h2{
    position: absolute;
    width: 250px;
    height: 16px;
    left: 80px;
    top: 3600px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;

    color: rgba(28, 28, 40, 0.54);

}
.value h3{
    position: absolute;
    width: 803px;
    height: 65px;
    left: 80px;
    top: 3620px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;

    color: #282863;
}

.value h4{
    position: static;
    width: 243px;
    height: 64px;
    left: 32px;
    top: 106px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;

    color: rgba(35, 35, 71, 0.87);

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 32px 0px;
}

.v-container1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 32px;

    position: absolute;
    width: 315px;
    height: 416px;
    left: 80px;
    top: 3760px;

    background: #FFFFFF;

    box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
    border-radius: 16px;
}

.v-container2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 32px;

    position: absolute;
    width: 315px;
    height: 416px;
    left: 435px;
    top: 3760px;

    background: #FFFFFF;
    border: 1px solid #0048BE;
    box-sizing: border-box;

    box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.04), 0px 16px 24px rgba(96, 97, 112, 0.16);
    border-radius: 16px;

}

.v-container3{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 32px;

    position: absolute;
    width: 315px;
    height: 416px;
    left: 790px;
    top: 3760px;

    background: #FFFFFF;

    box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
    border-radius: 16px;
}

.v-container4{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 32px;

    position: absolute;
    width: 315px;
    height: 416px;
    left: 1150px;
    top: 3760px;

    background: #FFFFFF;

    box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
    border-radius: 16px;
}

.value p{
    position: static;
    width: 242px;
    height: 182px;
    left: 32px;
    top: 202px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;

    color: rgba(28, 28, 40, 0.87);

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 32px 0px;
}

/*Portfolios*/
.ports h2{
    position: absolute;
    width: 739px;
    height: 44px;
    left: 80px;
    top: 4385px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;

    color: #282863;

}

.po-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 1275px;
    height: 160px;
    left: 60px;
    top: 4460px;

}

.p-row1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 1275px;
    height: 70px;
    left: 0px;
    top: 0px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 20px 0px;
}

.po-column1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: static;
    width: 200px;
    height: 70px;
    left: 0px;
    top: 0px;

    background: rgba(209, 228, 251, 0.2);

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 15px;
}

.po-column2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;

    position: static;
    width: 200px;
    height: 70px;
    left: 215px;
    top: 0px;

    background: rgba(209, 228, 251, 0.2);

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 15px;
}

.po-column3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 26px 12px;

    position: static;
    width: 200px;
    height: 70px;
    left: 435px;
    top: 0px;

    background: rgba(209, 228, 251, 0.2);

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 15px;
}

.po-column4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 12px;

    position: static;
    width: 200px;
    height: 70px;
    left: 645px;
    top: 0px;

    background: rgba(209, 228, 251, 0.2);

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 15px;
}

.po-column5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 12px;

    position: static;
    width: 200px;
    height: 70px;
    left: 860px;
    top: 0px;

    background: rgba(209, 228, 251, 0.2);

    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 0px 15px;
}

.po-column6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;

    position: static;
    width: 200px;
    height: 70px;
    left: 1075px;
    top: 0px;

    background: rgba(209, 228, 251, 0.2);

    flex: none;
    order: 5;
    flex-grow: 0;
    margin: 0px 15px;
}

.p-row2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 630px;
    height: 70px;
    left: 0px;
    top: 90px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 20px 0px;
}

.po-column7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;

    position: static;
    width: 200px;
    height: 70px;
    left: 0px;
    top: 0px;

    background: rgba(209, 228, 251, 0.2);

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 15px;
}

.po-column8{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;

    position: static;
    width: 200px;
    height: 70px;
    left: 215px;
    top: 0px;

    background: rgba(209, 228, 251, 0.2);

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 15px;
}

.po-column9{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;

    position: static;
    width: 200px;
    height: 70px;
    left: 430px;
    top: 0px;

    background: rgba(209, 228, 251, 0.2);

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 15px;
}

/*Partners*/
.parts h2{
    position: absolute;
    width: 739px;
    height: 44px;
    left: 80px;
    top: 4890px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;

    color: #282863;
}

.parts h3{
    position: static;
    width: 630px;
    height: 28px;
    left: 0px;
    top: 0px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;

    text-transform: uppercase;

    color: rgba(28, 28, 40, 0.54);

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 20px 0px;
}

.parts h4{
    position: static;
    width: 620px;
    height: 28px;
    left: 0px;
    top: 0px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;

    text-transform: uppercase;

    color: rgba(28, 28, 40, 0.54);

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 20px 0px;
}

.pa-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 1280px;
    height: 422px;
    left: 60px;
    top: 5030px;
}

.pa-containerE{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 1275px;
    height: 118px;
    left: 0px;
    top: 0px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 50px 0px;
}

.pa-containerBP{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 1280px;
    height: 208px;
    left: 0px;
    top: 214px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 96px 0px;
}

.pa-row1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    
    position: static;
    width: 1275px;
    height: 70px;
    left: 0px;
    top: 48px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 20px 0px;
}

.pa-row2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 1280px;
    height: 70px;
    left: 0px;
    top: 48px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 20px 0px;
}

.pa-row3{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 848px;
    height: 70px;
    left: 0px;
    top: 138px;

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 20px 0px;
}

.pa-column1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: static;
    width: 200px;
    height: 70px;
    left: 0px;
    top: 0px;

    background: rgba(209, 228, 251, 0.2);

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 15px;
}

.pa-column2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;

    position: static;
    width: 200px;
    height: 70px;
    left: 215px;
    top: 0px;

    background: rgba(209, 228, 251, 0.2);

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 15px;
}

.pa-column3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;

    position: static;
    width: 200px;
    height: 70px;
    left: 430px;
    top: 0px;

    background: rgba(209, 228, 251, 0.2);

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 15px;
}

.pa-column4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;

    position: static;
    width: 200px;
    height: 70px;
    left: 645px;
    top: 0px;

    background: rgba(209, 228, 251, 0.2);

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 15px;
}

.pa-column5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;

    position: static;
    width: 200px;
    height: 70px;
    left: 645px;
    top: 0px;

    background: rgba(209, 228, 251, 0.2);

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 15px;
}

.pa-column6{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: static;
    width: 200px;
    height: 70px;
    left: 1075px;
    top: 0px;

    background: rgba(209, 228, 251, 0.2);

    flex: none;
    order: 5;
    flex-grow: 0;
    margin: 0px 15px;
}

.pa-column7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;

    position: static;
    width: 200px;
    height: 70px;
    left: 0px;
    top: 0px;

    background: rgba(209, 228, 251, 0.2);

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;
}


.pa-column8{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    
    position: static;
    width: 200px;
    height: 70px;
    left: 216px;
    top: 0px;
    
    background: rgba(209, 228, 251, 0.2);
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 16px;
}

.pa-column9{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    
    position: static;
    width: 200px;
    height: 70px;
    left: 432px;
    top: 0px;
    
    background: rgba(209, 228, 251, 0.2);
    
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 16px;
}

.pa-column10{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;

    position: static;
    width: 200px;
    height: 70px;
    left: 648px;
    top: 0px;

    background: rgba(209, 228, 251, 0.2);

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 16px;
}

.pa-column11{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    
    position: static;
    width: 200px;
    height: 70px;
    left: 864px;
    top: 0px;
    
    background: rgba(209, 228, 251, 0.2);
    
    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 0px 16px;
}

.pa-column12{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;

    position: static;
    width: 200px;
    height: 70px;
    left: 1080px;
    top: 0px;

    background: rgba(209, 228, 251, 0.2);

    flex: none;
    order: 5;
    flex-grow: 0;
    margin: 0px 16px;
}

.pa-column13{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;

    position: static;
    width: 200px;
    height: 70px;
    left: 0px;
    top: 0px;

    background: rgba(209, 228, 251, 0.2);

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;
}

.pa-column14{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    
    position: static;
    width: 200px;
    height: 70px;
    left: 216px;
    top: 0px;
    
    background: rgba(209, 228, 251, 0.2);
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 16px;
}

.pa-column15{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    
    position: static;
    width: 200px;
    height: 70px;
    left: 432px;
    top: 0px;
    
    background: rgba(209, 228, 251, 0.2);
    
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 16px;
}

.pa-column16{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    
    position: static;
    width: 200px;
    height: 70px;
    left: 648px;
    top: 0px;
    
    background: rgba(209, 228, 251, 0.2);
    
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 16px;
}

/*Email*/
.email-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;

    position: absolute;
    width: 753px;
    height: 336px;
    left: 344px;
    top: 5770px;

    border-radius: 50px;
}

.ebg{
    position: relative;
    width: 434.52px;
    height: 440.73px;
    right: 460px;
    top: 95px;
}

.email .subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 633px;
    height: 100px;
    left: 60px;
    top: 60px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 32px 0px;
}

.email .subscribe h1{
    position: absolute;
    width: 633px;
    height: 44px;
    left: 0px;
    top: 0px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    
    text-align: center;

    color: #282863;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 24px 0px;
}

.email .subscribe p{
    position: absolute;
    width: 558px;
    height: 32px;
    left: 37.5px;
    top: 68px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;

    text-align: center;

    color: #000000;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 4px 0px;
}

.email .frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;

    position: absolute;
    width: 600px;
    height: 84px;
    left: 60px;
    top: 190px;

    background: #FFFFFF;
    border: 3px solid rgba(149, 149, 149, 0.12);
    box-sizing: border-box;
    border-radius: 20px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 32px 15px;
}

.email .bottom{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 505px;
    height: 52px;
    left: 16px;
    top: 16px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 64px 0px;
}

.email .bottom .btn-primary{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;

    position: static;
    width: 180px;
    height: 52px;
    left: 325px;
    top: 0px;

    background: linear-gradient(83.98deg, rgba(40, 80, 255, 0.3) 0%, rgba(218, 212, 255, 0.3) 11.65%, rgba(116, 63, 253, 0.3) 20.18%, rgba(19, 22, 70, 0.3) 54.57%), #131646;
    border-radius: 8px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 18px;
    
}
/*
.email .bottom .button{
    position: static;
    width: 132px;
    height: 20px;
    left: 24px;
    top: 16px;

    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
   
    text-align: center;

    color: #FCFCFC;

    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 0px;
}
*/

/*Footer*/
.footer-container {
    position: absolute;
    width: 1440px;
    height: 334px;
    left: 0px;
    top: 6400px;
}

.fbg{
    position:relative;
}
