/*Navigation bar*/
.navbar{
    position: static;
    width: 1440px;
    height: 80px;
    left: 0px;
    bottom: 0px;

    background:transparent;
}

.nav-link , .navbar-brand{
	color: #282863;
	cursor: pointer;
}

.logo{
    position: static;
    left: 5.56%;
    right: 85.83%;
    top: 32.5%;
    bottom: 32.5%;

}

.navbar-link{
    float: left;
    display: block;
    color: transparent;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.navbar-link :hover{
    background-color: transparent;
    color:#282863
}

.navbar-collapse{
    justify-content: flex-end;
}

.navbar-toggler{
    background:transparent !important;
}


/*Header*/
.overlay{
    position: absolute;
    width: 1276.67px;
    height: 868.3px;
    left: 33px;
    top: 101px;
}

.description{
    position: absolute;
    width: 1440px;
    height: 868px;
    left: 0px;
    top: 80px;
}

.description h1{
    position: absolute;
    width: 763px;
    height: 168px;
    left: 188px;
    top: 200px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    
    color: #282863;
    
}
.description p{
    position: absolute;
    width: 404px;
    height: 80px;
    left: 188px;
    top: 350px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;

    color: rgba(28, 28, 40, 0.54);

}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 1350px;
    height: 22px;
    left: 177px;
    top: 745px;
}

.column1{
    position: static;
    width: 63px;
    height: 20px;
    left: 0px;
    top: 1px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 48px;
}
.column2{
    position: static;
    width: 63px;
    height: 20px;
    left: 00px;
    top: 3px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 5px;
}

.column3{
    position: static;
    width: 63px;
    height: 20px;
    left: 227px;
    top: 3px;

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 40px;
}

.column4{
    position: static;
    width: 63px;
    height: 20px;
    left: 363px;
    top: 3px;

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 40px;
}

.column5{
    position: static;
    width: 63px;
    height: 20px;
    left: 475px;
    top: 3px;

    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 0px 40px;
}

.column6{
    position: static;
    width: 63px;
    height: 20px;
    left: 588px;
    top: 3px;

    flex: none;
    order: 5;
    flex-grow: 0;
    margin: 0px 40px;
}

.column7{
    position: static;
    width: 63px;
    height: 20px;
    left: 720px;
    top: 3px;

    flex: none;
    order: 6;
    flex-grow: 0;
    margin: 0px 40px;
}

.column8{
    position: static;
    width: 63px;
    height: 20px;
    left: 865px;
    top: 3px;

    flex: none;
    order: 7;
    flex-grow: 0;
    margin: 0px 40px;
}

.column9{
    position: static;
    width: 63px;
    height: 20px;
    left: 976px;
    top: 3px;

    flex: none;
    order: 8;
    flex-grow: 0;
    margin: 0
    px 40px;
}

.scroll-to-top {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    animation: fadeIn 700ms ease-in-out 1s both;
    cursor: pointer;
}

  